<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#31ac94">
<script>
/* Creates an anchor element with the given ID and link for the permalink*/
const anchorForId = (id) => {
  const anchor = document.createElement("a");
  anchor.className = "header-link";
  anchor.href = `#${id}`;
  anchor.innerHTML = `<span class="sr-only">Permalink</span>&#35;`;
  anchor.title = "Permalink";
  return anchor;
};

/* Finds all headers of the specified level within the given element, and adds a permalink to each header*/
const linkifyAnchors = (level, containingElement) => {
  const headers = Array.from(containingElement.getElementsByTagName(`h${level}`));
  headers.forEach((header) => {
    if (header.id && header.id != "toc-toggle") {
      header.appendChild(anchorForId(header.id));
    }
  });
};

/* Executes the function when the document is ready */
document.onreadystatechange = () => {
  if (document.readyState === "complete") {
    const contentBlock = document.getElementsByClassName("page-content")[0]
    if (!contentBlock) { return; }
    for (let level = 1; level <= 6; level++) {
      linkifyAnchors(level, contentBlock);
    }
  }
};

</script>
